@charset "utf-8";
@import url("reset.css");
@font-face {
	font-family: PixelMPlus12Bold;
	src: url('../font/PixelMplus12-Bold.ttf') format("truetype");
}
@font-face {
	font-family: PixelMPlus12Regular;
	src: url('../font/PixelMplus12-Regular.ttf') format("truetype");
}

/************************
* General 全体的なCSSのデザイン部分
************************/
html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
	font-family: PixelMPlus12Regular;
    background-image: url("../img/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    margin: 0 auto;
}

.wrapper {
    position: relative;
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

main {
    text-align: center;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.btn,
a.btn,
button.btn {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

h1 {
    font-size: 15rem;
    color: rgb(224, 0, 0);
    margin-bottom: 50px;
}

button.btn-flat {
    overflow: hidden;
    padding: 2rem 6rem;
    color: #fff;
    border-radius: 0;
    background: #000;
}

button.btn-flat span {
    position: relative;
    z-index: 1;
}

button.btn-flat:before {
    position: absolute;
    top: 0;
    left: calc(-150% + 50px);

    width: 150%;
    height: 500%;

    content: '';
    transition: all .5s ease-in-out;
    transform: rotate(45deg) translateX(0) translateY(0);

    background: #ffa600;
}

button.btn-flat:after {
    position: absolute;
    top: -400%;
    right: calc(-150% + 50px);

    width: 150%;
    height: 500%;

    content: '';
    transition: all .5s ease-in-out;
    transform: rotate(45deg) translateX(0) translateY(0);

    background: #ff0000;
}

button.btn-flat:hover {
    color: black;
}

button.btn-flat:hover:before {
    transform: rotate(45deg) translateX(0) translateY(-50%);
}

button.btn-flat:hover:after {
    transform: rotate(45deg) translateX(0) translateY(50%);
}

a {
    color: white;
    margin-top: 10rem;
    display: inline-block;
    font-size: 2rem;
}

/* login.html */
#login-main h1 {
    padding-top: 15%;
}
.login input {
    margin-bottom: 3rem;
    font-size: 2rem;
}
.login button {
    font-size: 2rem;
}

/* register.html */
.register h1 {
    padding-top: 15%;
    font-size: 12.5rem;
}

#register-main .login button {
    margin-top: 5rem;
}

/* register_confirm.html */
#register-confirm h1 {
    margin: 0;
    font-size: 12.5rem;
}

#warning {
    color: white;
    font-size: 3rem;
    margin-bottom: 8rem;
}

.confirm {
    width: 40%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    color: black;
    background: #fff;
}

/* register_fin.html */
#register-fin h1 {
    font-size: 15rem;
}

#register-fin a {
    font-size: 3rem;
}

a.btn--orange {
  	color: #fff;
  	background-color: #eb6100;
}
  
a.btn--orange:hover {
    color: #fff;
    background: #f56500;
}
  
a.btn-c {
    position: relative;
    padding: 1.5rem 2rem 1.5rem 3rem;
    border-radius: 100vh;
}

/* home.html */
#home-header {
	display: flex;
	padding-top: 4rem;
	justify-content: space-between;
	align-items: stretch;
}

#home-header p {
	color: white;
	font-size: 3rem;
	text-align: center;
}

#home-main h1 {
    margin-bottom: 0;
}

#home-main p {
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
}

#themes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.theme {
    width: 15rem;
    margin: 1rem;
    border: none;
    padding: 0;
    appearance: none;
}

.theme:hover {
    cursor: pointer;
    transform: scale(1.2,1.2);
    transition: .3s all;
}

.ribon {
	position: relative;
	overflow: hidden;
}

.ribon .caption {
	display: inline;
}

.ribon .upper {
    position: absolute;
    display: inline-block;
    top: 2rem;
    right: -3rem;
    width: 12.5rem;
    padding: 1rem 2rem;
    text-align: center;
    transform: rotate(45deg);
}

.ribon .under {
    position: absolute;
    display: inline-block;
    bottom: 1rem;
    left: -3rem;
    width: 12.5rem;
    padding: 1rem 2rem;
    text-align: center;
    transform: rotate(45deg);
}

.gold {
	background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
}

.silver {
	background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
}

/* question.html */
#quiz-header {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

#quiz-header #battle-num {
    color: red;
    font-size: 8rem;
}

#quiz-header .back  {
    margin-top: 5rem;
}

#quiz-header .back a {
    margin: 0;
    text-decoration: none;
    color: red;
    font-size: 3rem;
}

#question-main {
    margin: 2rem auto 0;
}

#field {
	position: relative;
    margin-bottom: 5rem;
}

#field #enemy {
    margin: 0 auto;
    height: 30rem;
}

#question-box {
	width: 90%;
	position: relative;
    margin: 2em auto;
    margin-bottom: 7rem;
    padding: 2.5rem 1rem;
    border: solid 5px #FFC107;
    background-color: rgb(255, 255, 255);
}

#question-box #question-title {
	position: absolute;
    display: inline-block;
    top: -0.5rem;
    left: -0.5rem;
    padding: 0 9rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.7rem;
    background: #FFC107;
    color: #ffffff;
    font-weight: bold;
}

#question {
    width: 75%;
    margin: 0 auto;
    font-size: 2.7rem;
}

#question img {
	width: 50rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#answers {
    width: 90%;
    margin: 0 auto;
}

#answers button {
    color: black;
    background-color: white;
    border: 4px solid #deb887;
    border-radius: 10px;
	
    display: inline-block;
    width: 40%;
    padding: 1.5rem 0;
    font-size: 3rem;
    font-weight: bold;
    
    position: relative;
}

#answers button:hover {
    cursor: pointer;
}

#answers button:first-child,
#answers button:nth-child(3) {
    margin-right: 5rem;
}

#answers button:first-child,
#answers button:nth-child(2) {
    margin-bottom: 1.5rem;
}

#answers button:disabled {
    background-color: none;
    color: rgba(0, 0, 0, 0.7);
    opacity: 1;
}

#answers button img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mark-maru {
	width: 12.5rem;
}

.mark-batsu {
	width: 12.5rem;
}

.weapon {
	position: absolute;
	height: 15rem;
	top: 25%;
	right: 10%;
	animation: weapon .3s 1;
	animation-delay: .3s;
}

@keyframes weapon {
	0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(0px, 0px) rotateZ(-20deg)}
    50% {transform: translate(0px, 0px) rotateZ(-60deg)}
    75% {transform: translate(0px, 0px) rotateZ(-20deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.enemy-attack {
	animation: enemy-attack .3s 1;
	animation-delay: .3s;
}

@keyframes enemy-attack {
	0% {transform: translate(0px, 0px)}
    25% {transform: translate(0px, 20px)}
    50% {transform: translate(0px, 60px)}
    75% {transform: translate(0px, 20px)}
    100% {transform: translate(0px, 0px)}
}

.damage {
	animation: damage .15s 2;
	animation-delay: .5s;
}

@keyframes damage {
	0% {transform: translate(0px, 0px)}
    25% {transform: translate(20px, 0px)}
    50% {transform: translate(0px, 0px)}
    75% {transform: translate(20px, 0px)}
    100% {transform: translate(0px, 0px)}
}

/* result.html */
#result-main {
    text-align: center;
}

#result-main h1 {
    padding-top: 10rem;
    margin: 0;
}

#result {
    width: 50%;
    margin: 0 auto;
    padding: 3rem 0;
    font-size: 5rem;
    border: 1px solid black;
    background: white;
    border-radius: 20px;
}

#menu a {
    padding: 2rem 7rem;
    border: 1px solid black;
    border-radius: 20px;
    background: white;
    color: black;
    text-decoration: none;
    font-size: 4rem;
}

#unicef-url {
    margin-top: 4rem;
}

@media screen and (max-width: 1500px) {
	html {
		font-size: 8px;
	}
}